@tailwind base;
@tailwind components;
@tailwind utilities;

body { 
  background-color: #050505; 
  color: #ffffff; 
}

/* Custom Scrollbar */
::-webkit-scrollbar { width: 8px; height: 8px; }
::-webkit-scrollbar-track { background: #101010; }
::-webkit-scrollbar-thumb { background: #333; border-radius: 4px; }
::-webkit-scrollbar-thumb:hover { background: #00e676; }